body {
    background-color: hsl(216, 12%, 8%);
}
h1 {
    color: aliceblue;
}
p {
    color: hsl(217, 12%, 63%);
}
.container {
    border: 1px solid hsl(213, 19%, 18%);
    border-radius: 15px;
    background-color: hsl(213, 19%, 18%);
    margin-top: 10rem;
    margin-right: auto;
    margin-left: auto;
    height: 60vh;
    width: 330px;
    min-width: 330px;
    max-width: 370px;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-around; */

}

.text {
    margin: 2rem 2rem 1rem 2rem;
}

form {
    text-align: center;
    width: 80%;
    height: 15vh;
    margin-left: auto;
    margin-right: auto;
}

.numbers {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    
}

.numbers input {
    border: none;
    color: hsl(217, 12%, 63%);
    background-color: hsl(214, 19%, 29%);
    padding: .7rem 1rem;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
}

.numbers input:hover {
    background-color: hsl(217, 12%, 63%);
    color: white;
    cursor: pointer;
}
.numbers input:active {
    background-color: hsl(25, 97%, 53%);
}

.submit {
    padding: .5rem 6rem;
    border-radius: 20px;
    color: white;
    background-color: hsl(25, 97%, 53%);
    border: 1px solid hsl(25, 97%, 53%);
    letter-spacing: 2px;
}
.submit:hover {
    cursor: pointer;
}

.submit:active {
    background-color: white;
    color: hsl(25, 97%, 53%);
    
}

.star {
    border: 1px solid hsl(216, 12%, 54%);
    padding: .5rem;
    background-color: hsl(216, 12%, 54%);
    border-radius: 50px;
}

.hidden-section {
    border: 1px solid hsl(213, 19%, 18%);
    background-color: hsl(213, 19%, 18%);
    border-radius: 15px;
    margin-right: auto;
    margin-left: auto;
    height: 60vh;
    width: 330px;
    min-width: 330px;
    max-width: 370px;
    text-align: center;
    position: relative;
    top: -27rem;
    
    visibility: hidden;
    /* opacity: 50%; */
}

.hidden-content {
    margin: 3.5rem 1.5rem 1.5rem;
}

.hidden-content-text {
    margin-top: 2rem;
}

.hidden-content-text h2 {
    color: white;
}

#parag-for-message {
    border: 1px solid hsl(216, 12%, 8%);
    border-radius: 20px;
    background-color: hsl(216, 12%, 8%);
    color: hsl(25, 97%, 53%);
    padding: .5rem 1rem .5rem 1rem;
    width: 10rem;
    margin-left: auto;
    margin-right: auto;

}